CONFIG_AT91SAM9N12EK=y
# CONFIG_DATAFLASH_RECOVERY is not set
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_LINUX_KERNEL_ARG_STRING="console=ttyS0,115200 root=/dev/mtdblock3"
CONFIG_IMG_ADDRESS="0x007300"
CONFIG_OF_OFFSET="0x00002800"
CONFIG_THUMB=y
# CONFIG_SCLK is not set
